@import "../../scss/variables.scss";
 
.header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  background-color: $white;
  align-items: center;
  z-index: 1;
  font-family: $titleFonts;
   
 
  > div:nth-child(1) {
    position: absolute;
    left: 5%;

    ul {
      @include ul();
      display: flex;
      
      li {
        text-transform: uppercase;
        margin-left: 15px;
        font-size: 10px;
        font-weight: 700;
        position: relative;
        padding: 25px 5px;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          transition: width 0.5s ease;
          height: 2px;
          background-color: $green; 
      }
        &.active {color: $green;}
        &.active::after,
        &:hover::after { width: 100%; }
        &:hover { color: $green; }
      }
    }
  }

  > div:nth-child(2) {
    margin: 0 auto;
  }
  
  > div:nth-child(3) {
    display: flex;
    position: absolute;
    right: 5%;

      div {
        display: flex;
        padding: 5px;
        
        b {
          margin: 5px 0 0 0;
          font-size: 16px;

        }
      
        img {
          
          margin-top: 9px;
        }
        &:hover {cursor: pointer;}
      }

        span {
          position: absolute;
          right: 4%;
          padding: 4px; 
          background-color: $black;
          border-radius: 100%;
          color: $white;
          font-size: 8px;
        }
        img:nth-child(3) {
          padding: 5px;
        }
        
        img:hover {cursor: pointer;}
  }

  > div:nth-child(4) {
    position: fixed;
    top: 55px;
    right: 6%;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 0 2px 2px $grey;
    transition: 0.3s ease-in-out;
    
      ul {
        @include ul();

        li {
          margin: 0;
          padding: 5px 10px;
          border-radius: 5px;
          } 
        li:hover {
          background-color: $grey;
          cursor: pointer;
          }
        }
  }

    .div5 {
      position: fixed;
       top: 55px;
       right: 4%;
       width: 350px;
       max-height: 80%;
       overflow: auto;
       font-size: 16px;
       border-radius: 5px;
       box-shadow: 0 0 2px 2px $grey;
       background-color: $white;
     
       
       
       .div6 {
       display: flex;
       margin: 0 3%;
       padding: 20px 10px 10px;
       border-bottom: 3px solid $grey;

          p {
            margin: 10px 0 5px;
          }

              > div:nth-child(1) {
                    width: 40%;

                   > div:nth-child(1) {
                     
                      div {
                        display: flex;
                        flex-wrap: wrap;

                          span {
                            @include flex(center, center);
                            min-width: 24px;
                            height: 24px;
                            margin: 0 5px 0 0;
                            border-style: groove;
                            background-color: $grey;
                          }
                      }
                   }
                } 

            > div:nth-child(2) {
              display: flex;
                  
                  > div:nth-child(1) {
                    @include flex(center, space-between);
                    flex-direction: column;
                    margin: 0 20px;
                    font-weight: 500;
                    font-size: 24px;

                        span:nth-child(2) {
                        padding: 10px;
                      }
               
                      .span {
                        padding: 10px;
                        border: 3px solid $grey;
                      }
                   }

                  > div:nth-child(2) {
                    @include backgroundImg(auto, 121px);
                    box-shadow: 0 0 3px 3px $grey;
                    border-radius: 10px;
                  }
        }

    }

    .div7 {
      display: flex;
      justify-content: space-between;
      margin: 0 3%;
      padding: 20px 10px 10px;

        button:nth-child(1) {
          @include button($white, $black, 140px);
          border: 2px solid $black;
          padding: 0;
          height: 43px;
        }
         button:nth-child(2) {
           @include button($green, $white, 140px);
           padding: 0;
           height: 43px;
        }
    }
}
}

//breakpoint
@media screen and (min-width: 481px) {
  .header > div:nth-child(1) ul li {
    font-size: 16px;
    }
  }